<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fake Job Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>🛡️ Fake Job Detection System</h1>
        <form method="POST" action="/predict">
            <textarea name="job_description" placeholder="Enter Job Description..." required></textarea><br>
            <button type="submit">Predict</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
